.integration-list {
  background-color: $white;
  color: $black;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid $black-16;
  max-width: 60.6vw;
  min-height: 30.4vh;
  height: 299px;  
}

.integration-list h3 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;

 
}

thead {
  background-color: $white;
}

thead th {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;

  
}

tbody tr {
  border-bottom: 1px solid $black-16;
}

tbody tr:last-child {
  border-bottom: none;
}

tbody td {
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, .16);
}

tbody tr {
  &:last-child {
    td {
      border-bottom: none;
    }
  }
}

tbody td .application {
  display: flex;
  align-items: center;
}

tbody td .application img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: white;
}

.rate-bar {
  background-color: #696FFB33;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  width: 100px;
  vertical-align: middle;

 
}

.rate-bar-fill {
  background-color: #6a5ae0;
  height: 100%;
}

tbody {
  height: 14vw;
}

tbody td span {
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
}

tr {
  padding: 10px;
  text-align: left;
  border-radius: 8px;

  th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;  
  }
  th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: left;
  }
  thead {
    border-radius: 8px;
  }
}