.chart-container {
    flex: 60% 0;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    background-color: $white;
    height: 299px; /* Fixed height for default, can be adjusted in the media queries */
    min-width: 60.6vw;
    min-height: 30.4vh;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  
    /* Title and stats container */
    .chart-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
  
      .heading {
        color: black;
        font-size: 1.125rem;
        font-weight: 700;
      }
  
      .stats-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
  
        .stat {
          color: black;
          margin-left: 1.5rem;
  
          span {
            font-size: 0.875rem;
  
            &:first-child {
              font-weight: normal;
            }
  
            &:last-child {
              font-weight: 700;
            }
          }
        }
      }
    }
  
    /* Responsive chart container */
    .chart {
      width: 100%;
      height: calc(100% - 2.5rem); /* Adjust height dynamically to fit header */
  
      /* Ensures chart's width and height are responsive */
      canvas {
        width: 100% !important; /* Ensure the canvas fills the parent */
        height: 100% !important;
      }
    }
  
    /* Media Queries for responsiveness */
    @media (max-width: 1024px) {
      .chart-container {
        min-width: 80vw;
        min-height: 40vh;
        padding: 15px;
      }
  
      .chart-header {
        flex-direction: column;
        align-items: flex-start;
  
        .stats-container {
          margin-top: 1rem;
          flex-direction: column;
          align-items: flex-start;
  
          .stat {
            margin-left: 0;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      .chart-container {
        min-width: 90vw;
        min-height: 45vh;
        padding: 10px;
      }
  
      .chart-header {
        .heading {
          font-size: 1rem;
        }
  
        .stats-container {
          .stat {
            font-size: 0.75rem;
  
            span {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  
    @media (max-width: 480px) {
      .chart-container {
        min-width: 95vw;
        min-height: 50vh;
        padding: 8px;
      }
  
      .chart-header {
        .heading {
          font-size: 0.875rem;
        }
  
        .stats-container {
          .stat {
            font-size: 0.75rem;
  
            span {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
  