.sidebar {
  width: 4.45vw;
  height: 100vh;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid $black-16;
  z-index: 101;

  transition: width 0.3s ease-in-out;

  /* Theme Toggle Section */
  #theme-switch {
    margin-left: 8px;
  }

  .theme-toggle {
    position: fixed;
    bottom: 1rem;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease;

    .day-label,
    .night-label {
      font-size: 14px;
      font-weight: 400;
      opacity: 0; /* Initially hidden */
      transition: opacity 0.3s ease;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .sun {
      position: fixed;
      transition: opacity 0.3s ease;
      opacity: 0;
      z-index: 1000;
      left: 12px;
    }

    .day-label {
      left: 5px;
    }

    .night-label {
      right: -20px;
    }

    /* Theme Toggle Switch (Checkbox) */
    input[type="checkbox"] {
      appearance: none;
      width: 48px;
      height: 24px;
      background: $blue;
      border-radius: 50px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: 0.4s;
      position: relative;
      z-index: 2;
    }

    input[type="checkbox"]:checked ~ .sun {
      opacity: 1;
    }

    input[type="checkbox"]:checked {
      background: $blue;
    }

    input[type="checkbox"]::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: white;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      top: 0;
      left: 0;
      margin: 2px;
      transition: 0.4s;
    }

    input[type="checkbox"]:checked::after {
      left: 50%;
    }
  }
  .icon-container-2 {
    display: none;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img:first-child {
      width: 40px;
      height: 34px;
    }

    img:last-child {
      width: 14px;
      height: 14px;
    }

    img {
      margin-right: 5px;
      margin-top: 14px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li:first-child {
    margin-top: 15px;
  }

  li {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #ecf0f1;
    font-size: 14px;
    transition: background-color 0.3s ease;

    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      transition: transform 0.3s ease;
    }

    span {
      opacity: 0;
      transition: opacity 0.3s ease;
      color: black;
    }

    &:hover img {
      transform: scale(1.2);
    }

    &:hover span {
      opacity: 1;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid $black-16;
    margin: 10px 0;
  }

  /* Hover Effect: Expand Sidebar and Show Labels */
  &:hover {
    width: 12.5vw;
    z-index: 1000;

    .icon-container {
      display: none;
    }
    .sun {
      left: 45px;
    }
    .icon-container-2 {
      display: flex; /* Show icon-container-2 on hover */
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;
      margin-left: 18px;
      
    
      img {
        margin-right: 10px;
      }
    }


    .theme-toggle .day-label,
    .theme-toggle .night-label {
      opacity: 1; // Show labels when sidebar is hovered
    }
    #theme-switch {
      margin-left: 33px;
    }
    
    .theme-toggle {
      justify-content: space-evenly;
    }

    li {
      span {
        opacity: 1;
      }
    }
  }
  

.sidebar.dark {
  background-color: #1F214A;

  span {
    color: $white;
  }

  img {
    filter: brightness(0) invert(1);
  }

  .day-label,
  .night-label {
    color: $white;
  }
}
}