.stats-container {
  display: flex;
  flex-wrap: wrap;
  background: #f8f9fa;
  margin-top: 64px;
  margin-left: 64px;
  // height: 100vh;
  background-color: $blue-4;
  // justify-content: center;
  align-items: center;
  padding: 5.87vh 2.12vw;
}
.stats-container.dark {
  background-color: #626381;
  color: white;

  .stat-card {
    background-color: #1F214A;
    border: none;
    
    .stat-card-heading {
      color: $white;
    }
    .stat-card-value {
      color: $white;
    }
    .stat-card-description{
      color: $white;
    }
    .stat-card-badge {
      background-color: #2CC483;
    }
  }
  .chart-container {
    background-color: #1F214A; /* Default background color */

    span {
      color: $white;
    }
    .heading {
      color: $white !important;
    }
  }
  .sales-by-region-container {
    background-color: #1F214A;

    h3{
      color: $white;
    }
  }
  .integration-list {
    background-color: #1e2246;
    color: #e0e3f3;
    padding: 20px;
    border-radius: 10px;


  thead {
    background-color: #626381;
  }
  
  }
  
}
.sales-by-region-container {
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  padding: 20px;
  border-radius: 8px;
  width: 29.4vw;
  min-height: 30.4vh;

  //height: 19rem;
  h3 {
    color: black;
  }
}