.stat-card {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  min-height: 16vh;
  width: 21.7vw;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  .stat-card-heading {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $black;
    text-align: left;
  }

  .stat-card-value {
    font-size: 1.8rem;
    font-weight: bold;
    color: $black;
    margin-bottom: 5px;
    text-align: left;
  }

  .stat-card-footer {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;

    .stat-card-badge {
      background-color: $light-green;
      height: 24px;
      width: 70px;
      color: $black;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 5px 10px;
      margin-right: 8px;
    }

    .stat-card-description {
      font-size: $font-size-body;
      color: $black-60;
    }
  }

  // Make the card responsive
  @media (max-width: 1024px) {
    width: 30vw; // Adjust the width for tablets and smaller screens
    min-height: 20vh; // Make the card taller for better readability

    .stat-card-heading {
      font-size: 16px; // Reduce font size on smaller screens
    }

    .stat-card-value {
      font-size: 1.6rem; // Adjust font size for smaller screens
    }

    .stat-card-footer {
      .stat-card-badge {
        width: 60px; // Smaller badge width for smaller screens
      }

      .stat-card-description {
        font-size: 1rem; // Adjust the description text size
      }
    }
  }

  @media (max-width: 768px) {
    width: 80vw; // Full-width card on mobile
    padding: 15px; // Reduce padding on mobile

    .stat-card-heading {
      font-size: 14px; // Smaller heading size for mobile screens
    }

    .stat-card-value {
      font-size: 1.4rem; // Smaller value font size for mobile
    }

    .stat-card-footer {
      flex-direction: column; // Stack badge and description vertically on mobile
      align-items: flex-start;

      .stat-card-badge {
        margin-bottom: 5px; // Add spacing between badge and description
        width: auto;
      }

      .stat-card-description {
        font-size: 0.9rem; // Adjust font size for better readability on mobile
      }
    }
  }

  @media (max-width: 480px) {
    width: 95vw; // Even larger card width on very small screens
    min-height: 25vh; // Increase height for better readability

    .stat-card-heading {
      font-size: 12px; // Much smaller font size for very small screens
    }

    .stat-card-value {
      font-size: 1.2rem; // Even smaller font size
    }

    .stat-card-footer {
      .stat-card-badge {
        width: auto; // Let the badge take up available space
        padding: 5px;
      }

      .stat-card-description {
        font-size: 0.8rem; // Smaller font size for very small screens
      }
    }
  }
}
