.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: white;
    border-bottom: 1px solid $black-16;
    position: fixed;
    top: 0;
    left: 4.45vw;
    right: 0;
    height: 64px;
    z-index: 100;
    
    h2 {
      font-size: 30px;
      font-weight: 700;
      margin: 0; // Remove margin for better alignment
    }
  
    .right-side {
      display: flex;
      align-items: center;
      flex-wrap: wrap; // Allows items to wrap when needed
  
      .country-dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-right: 15px;
        width: 178px;
        height: 42px;
        background-color: $light-gray;
        border-radius: 24px;
        cursor: pointer;
  
        .selected-country {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 10px;
          border-radius: 24px;
  
          .flag-image {
            width: 22px;
            height: 22px;
            margin-right: 8px;
          }
  
          span {
            font-size: 14px;
          }
  
          .down-arrow {
            width: 16px;
            height: 16px;
            position: absolute;
            right: 10px; // Adjusted to ensure it's positioned correctly
          }
        }
  
        .dropdown-list {
          position: absolute;
          top: 42px;
          left: 0;
          width: 100%;
          background-color: $light-gray;
          border-radius: 24px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          list-style: none;
          margin: 0;
          padding: 0;
          z-index: 10;
  
          .dropdown-item {
            padding: 8px 12px;
            cursor: pointer;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: $light-gray;
            }
  
            span {
              font-size: 14px;
            }
          }
        }
      }
  
      .divider {
        width: 1px;
        height: 64px;
        background-color: $black-16;
        margin-right: 25px;
      }
  
      .login-image {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  
}
  
  // Dark theme styles for topbar
  .topbar.dark {
    background-color: #1F214A;
    color: $white;
  
    span {
      color: black;
    }
  }
  
  