.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.59vw;
    flex-wrap: nowrap;

    &:not(:last-child) {
        margin-bottom: 24px;
    }
}