.text-body {
    font-size: $font-size-body;
    font-weight: $font-weight-regular;
  }
  
  .text-body-bold {
    font-size: $font-size-body-bold;
    font-weight: $font-weight-bold;
  }
  
  .text-subtext {
    font-size: $font-size-subtext;
    font-weight: $font-weight-regular;
  }
  
  .text-subtext-bold {
    font-size: $font-size-subtext-bold;
    font-weight: $font-weight-bold;
  }