// White Colors
$white: #FFFFFF;
$white-60: rgba(255, 255, 255, 0.6);
$white-20: rgba(255, 255, 255, 0.2);
$white-16: rgba(255, 255, 255, 0.16);
$white-8: rgba(255, 255, 255, 0.08);

// Yellow and Orange
$yellow: #E8B500;
$yellow-light: #FFD74B;
$orange: #FF9E2B;

// Light Red, Dark Red, Light Green, Dark Green
$light-red: #FDD5DA;
$dark-red: #FF5E75;
$light-green: #B8E9D4;
$dark-green: #2CC483;

// Black Colors
$black: #000000;
$black-60: rgba(0, 0, 0, 0.6);
$black-16: rgba(0, 0, 0, 0.16);
$black-4: rgba(0, 0, 0, 0.04);

// Blue Colors
$blue: #696FFB;
$blue-60: rgba(105, 111, 251, 0.6);
$blue-32: rgba(105, 111, 251, 0.32);
$blue-20: rgba(105, 111, 251, 0.2);
$blue-12: rgba(105, 111, 251, 0.12);
$blue-8: rgba(105, 111, 251, 0.08);
$blue-4: rgba(105, 111, 251, 0.04);

$light-gray: #F0F2F4;


$font-size-body: 14px;
$font-size-body-bold: 14px;
$font-size-subtext: 11px;
$font-size-subtext-bold: 12px;

$font-weight-regular: 400; // Regular
$font-weight-bold: 700; 